# Project dependencies


rapidfuzz
python-levenshtein

bitsandbytes==0.44.1
transformers==4.46.1
huggingface-hub==0.26.2

torch==2.5.1

langchain
langchain-community
sentence-transformers
chromadb

google-api-python-client
dateparser
googletrans==4.0.0-rc1

python-telegram-bot
numpy
pandas
tensorflow
scikit-learn
joblib
requests
